{% extends "base.html" %}
{% block title %}Image gallery{% endblock %}
{% block content %}
    <img src="{{ url_for('static', filename='images/adangerousmethod.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/bartonfink.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/blackswan.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/bridgetoterabithia.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/dancerinthedark.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/greenbook.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/huntforthewilderpeople.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/incendies.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/klaus.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/lionking.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/panslabyrinth.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/tellnoone.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/thebody.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/theciderhouserules.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/thehunt.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/theintouchables.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/togo.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/twoisafamily.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/waitress.jpg') }}" class="jpg">
    <img src="{{ url_for('static', filename='images/whiplash.jpg') }}" class="jpg">
{% endblock %}