<html>
<head>
    <title>Image gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel=stylesheet type=text/css href="../static/styles.css">
</head>
<body>

<div class="gallery">
    <img src="../static/images/adangerousmethod.jpg" class="jpg">
    <img src="../static/images/bartonfink.jpg" class="jpg">
    <img src="../static/images/blackswan.jpg" class="jpg">
    <img src="../static/images/bridgetoterabithia.jpg" class="jpg">
    <img src="../static/images/dancerinthedark.jpg" class="jpg">
    <img src="../static/images/greenbook.jpg" class="jpg">
    <img src="../static/images/huntforthewilderpeople.jpg" class="jpg">
    <img src="../static/images/incendies.jpg" class="jpg">
    <img src="../static/images/klaus.jpg" class="jpg">
    <img src="../static/images/lionking.jpg" class="jpg">
    <img src="../static/images/panslabyrinth.jpg" class="jpg">
    <img src="../static/images/tellnoone.jpg" class="jpg">
    <img src="../static/images/thebody.jpg" class="jpg">
    <img src="../static/images/theciderhouserules.jpg" class="jpg">
    <img src="../static/images/thehunt.jpg" class="jpg">
    <img src="../static/images/theintouchables.jpg" class="jpg">
    <img src="../static/images/togo.jpg" class="jpg">
    <img src="../static/images/twoisafamily.jpg" class="jpg">
    <img src="../static/images/waitress.jpg" class="jpg">
    <img src="../static/images/whiplash.jpg" class="jpg">
</div>

</body>
</html>